* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 10px 4px;
}
.column > img {
  margin: 20px;
  width: 100%;
  transition: all 1s;
  border-radius: 10px;
}
.column > img:hover{
  transform: scale(1.1,1.1);
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
